@page "/apexChartsPie"

<MudPaper Elevation="2" Class="col-lg-12 p-3 my-3">
    <MudText Typo="Typo.h4" GutterBottom="true" Class="text-gradient">Apex charts pie</MudText>
    <MudText Class="mb-8">This component demonstrates pie charts from Apex charts</MudText>
</MudPaper>

<div id="pie-cards">
    <div class="mb-3 card pie-card">
        <ApexChart TItem="ProductsByCategory"
                   Title="Products by categories">
            <ApexPointSeries TItem="ProductsByCategory"
                             Items="ProductsByCategories" 
                             SeriesType="SeriesType.Pie"
                             XValue="@(e=>e.CategoryName)"
                             YValue="@(e=>e.ProductsCount)"
                             OrderByDescending="e=>e.Y"/>
        </ApexChart>
    </div>
</div>

<style>
    #pie-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
</style>

@code {
    private List<ProductsByCategory> ProductsByCategories { get; set; } = new();

    public class ProductsByCategory
    {
        public ProductsByCategory(string categoryName, int productsCount)
        {
            CategoryName = categoryName;
            ProductsCount = productsCount;
        }

        public string CategoryName { get; }
        public int ProductsCount { get; }
    }

    protected override void OnParametersSet()
    {
        ProductsByCategories.Add(new ("Category1", 5));
        ProductsByCategories.Add(new ("Category2", 6));
        ProductsByCategories.Add(new ("Category3", 8));
        ProductsByCategories.Add(new ("Category4", 9));
        ProductsByCategories.Add(new ("Category5", 15));
    }
}
