@page "/"

<PageTitle>Demo App</PageTitle>
<MudPaper Elevation="2" Class="p-3">
    <MudText Typo="Typo.h4" GutterBottom="true" Class="text-gradient">Start page</MudText>
    <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor, Syncfusion, Blazor 3D and Apex Charts!</MudText>

    <MudAlert Severity="Severity.Normal">
        You can find documentation and examples on websites here:
        <hr/>
        <MudLink Href="https://mudblazor.com" Target="_blank." Typo="Typo.body2" Color="Color.Inherit"><p><b>mudblazor.com</b></p></MudLink>
        <MudLink Href="https://www.syncfusion.com/blazor-components" Target="_blank" Typo="Typo.body2" Color="Color.Inherit"><p><b>syncfusion.com</b></p></MudLink>
        <MudLink Href="https://apexcharts.github.io/Blazor-ApexCharts" Target="_blank" Typo="Typo.body2" Color="Color.Inherit"><p><b>Blazor-ApexCharts</b></p></MudLink>
        <MudLink Href="https://blazor3d.com/" Target="_blank" Typo="Typo.body2" Color="Color.Inherit"><p><b>Blazor 3D</b></p></MudLink>
    </MudAlert>
</MudPaper>

<style>

</style>

